<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	
	<section class="banner">
	 
	 <div class="about">
	 
	    <div class="cnt">
            
            <img src="../image/abt.png" alt="" srcset="">
            <div class="text1">
            <h2>About us</h2>
                <h5>We take care of your Healthy Life</h5>
                <p>The web-app clinic on click provides patients with the best, most comprehensive care for
                     all ages from birth to seniors. Our practice is committed to giving every patient the best-personalized care.
                     <br><br>

                    We accomplish this through close collaboration between our staff,
                     our patients, and their families. Our physicians and nurses are recognized for their compassion, knowledge, and unyielding commitment to excellence.</p>
                     <button type="button">Read more</button>
            </div>
        </div>
   </div>
   
    <section id="about">
        <div class="wrapper">
            <div class="item">
            <h1 class="heading">We Provide</h1>
            
                 </div>
             <div class="team">
                 <div class="team-member">
                    <i class="fa-solid fa-briefcase-medical"></i>
                    <h3>Free Checkups</h3>
                    <hr>
                    
                    <p>We provide free checkups and have many facilities like Lab test & Health packages from well-reputed ,certified Diagostics etc.
                    </p>
                    <button type="button">Read more</button>
                 </div>
                 <div class="team-member">
                    <i class="fa-solid fa-truck-medical"></i>
                    <h3>24/7 Ambulance </h3>
                    <hr>
        
                    <p>These 24 hours ambulances provide all kinds of facilites required for cardiac patients or any paitent in need of emergency care.
                    </p>
                    <button type="button">Read more</button>
                 </div>
                 <div class="team-member">
                    <i class="fa-solid fa-hospital-user"></i>
                    <h3>Expert Doctors</h3>
                    <hr>
                    
                    <p>online doctor consultation services helping just in time to improve people health.Dr 24hrs offers specialized 
                        and high quality online doctor consultation.
                    </p>
                    <button type="button">Read more</button>
                 </div>
                 <div class="team-member">
                    <i class="fa-solid fa-pills"></i>
                    <h3>Medicines</h3>
                    <hr>
                    
                    <p> online medical consulations on click on clinic.com .Enjoy offers and discounts on consulations 
                        and also in purchase of online medicine.

                    </p>
                    <button type="button">Read more</button>
                 </div>
                 <div class="team-member">
                    <i class="fa-solid fa-bed"></i>
                    <h3>Bed Facility</h3>
                    <hr>
                    
                    <p>Hospital beds and other similar types of beds such as nursing care beds are used not only in 
                        hospitals,but in other health care facilities.
                    </p>
                    <button type="button">Read more</button>
                 </div>
                 <div class="team-member">
                    <i class="fa-solid fa-stethoscope"></i>
                    <h3>Total Care</h3>
                    <hr>
                    
                    <p>Total patient care is a nursing model where one nurse provides total care to a single patient or a 
                        group of patients during his/her shifts.
                    </p>
                    <button type="button">Read more</button>
                 </div>
                
             </div>
        </div>
	 </section>
	 
	 <footer >
        Copyright &copy; 2022 - All the right reserved
        
    </footer>
	 
	</section>
	
</body>
</html>