<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Find Doctor</title>
</head>

<body>

	<section>


     <div class="banner1">

		<div class="container1">
		
		

			<table class="table mt-4">

				<tbody>
					<tr>

						<td>

							<div class="card mb-3 m-2" style="max-width: 380px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="../image/doc1.jpg" class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">Shimran Dhanjani</h5>
											<p class="card-text">Cardiologist: A cardiologist is a doctor that deals with the cardiovascular system.
											</p>
											
										</div>
									</div>
								</div>
							</div>



						</td>

						<td>

							<div class="card mb-3 m-2" style="max-width: 380px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="../image/doc2.jpg" class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">Austin Ager</h5>
											<p class="card-text">Paediatrician: Paediatricians are doctors who treat children.</p>
										
										</div>
									</div>
								</div>
							</div>





						</td>


						<td>

							<div class="card mb-3 m-2" style="max-width: 380px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="../image/doc3.jpg" class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">Jeams Anderson</h5>
											<p class="card-text">ENT specialist: ENT stands for ear, nose and throat.
												.</p>
											
										</div>
									</div>
								</div>
							</div>


						</td>
					</tr>
					<tr>

						<td>

							<div class="card mb-3 m-2" style="max-width: 380px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="../image/doc4.jpg" class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">Shiridhav Thakare </h5>
											<p class="card-text">Cardiothoracic surgeon: Thorax means the chest.
												</p>
											
										</div>
									</div>
								</div>
							</div>

						</td>


						<td>

							<div class="card mb-3 m-2" style="max-width: 380px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="../image/doc5.jpg" class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">Rishi Sharda</h5>
											<p class="card-text">Neurologist: As the name suggests, a neurologist is responsible for treating and diagnosing issues of the nervous system.
												</p>
										
										</div>
									</div>
								</div>
							</div>




						</td>


						<td>

							<div class="card mb-3 m-2" style="max-width: 380px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="../image/doc6.jpg" class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">Praneet Khashyap</h5>
											<p class="card-text">Orthopaedic surgeon: An orthopaedic surgeon is known to deal with issues relating to the musculoskeletal system. 
												.</p>
											
										</div>
									</div>
								</div>
							</div>




						</td>

					</tr>




				</tbody>
			</table>
			
			 <button class="btn btn-primary btn-sm" style=" margin-left: 45%; border-radius: 10px"
    onclick="window.location.href = '/user/new-appointment';">
        Book now
    </button>

		</div>
</div>

    <footer >
        Copyright &copy; 2022 - All the right reserved
        
    </footer>
	</section>

</body>

</html>