<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Password Change Page</title>
</head>
<body>
	
	<section>
	<div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 320px;" class="col-md-12">
                        
                        <h3 class="m-4 text-center"> Enter new password </h3>
                        
                        <form th:action="@{/change-password}" method="post">
                        
                          <div class="form-group mt-2">
                          
                            <input name="newpassword" required type="password" placeholder="Enter new password here" class="form-control " style="width: 80%; margin: auto;" />
                          
                          </div>
                           
                           <div class="container text-center mt-3">
                              
                              <button class="btn btn-primary">Change Password</button>
                           
                           </div>
                        
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
   

	</section>
</body>
</html>