<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Verify Page</title>
</head>
<body>
	
	<section>
	<div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 320px;" class="col-md-12">
                        
                        <!-- email form  -->
                        <div class="alert alert-success m-3" role="alert">
						  We have send OTP to your email..
						</div>
						
						  <div th:if="${session.message}" class="container">
        
					        <div class="alert alert-danger m-2 text-center" role="alert">
					        
					        <span th:text="${session.message}"></span>
					        
					       <!-- message box  -->
					          
					    </div>
					       
					       <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					       
					      </div>
                        
                        <form th:action="@{/verify-otp}" method="post">
                        
                          <div class="form-group">
                          
                            <input name="otp" required type="text" placeholder="Enter OTP here" class="form-control " style="width: 80%; margin: auto;" />
                          
                          </div>
                           
                           <div class="container text-center mt-3">
                              
                              <button class="btn btn-success">Verify</button>
                           
                           </div>
                        
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
   

	</section>
</body>
</html>